@import url(https://fonts.googleapis.com/css?family=Roboto:500);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #494949;
}

#app { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width:100%;
  min-width: 300px;
}

/* Navigation */
.page-headerbox {
  position: fixed;
  width: 100%;
  height: 55px;
  min-height: 55px;
  padding: 0em;
  background-color: var(--p-color);
  box-shadow: 0px 5px var(--s-color);
  z-index: 20;
}

.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;
  text-align: right;
  padding: 0 25px;
  top: 0px;
  width: 100vw;
  max-width: 100%;
  min-width: 300px;
  height: 60px;
  background: #d61313;
  z-index: 10;
}

.Nav-title {
  width: fit-content;
  height: fit-content;
  font-size: 1.6em;
  font-weight: 900;
  color: #ffffff;
  padding-bottom: 5px;
}

a.inner-links, a:visited.inner-links {
  color: #d61313;
  font-weight: 700;
  font-size: 1.1em;
}

a:hover.inner-links {
  color: #365c89;
  font-weight: 700;
}

.mylinks{
  display: block;
  text-align: right;
}

.links {
  padding: 5px 40px;
  margin: 5px;
  font-size: 1.6em;
  font-weight: 700;
  border-left: 2px solid rgb(255, 204, 204);
  border-right: 2px solid rgb(255, 204, 204);
  color: #ffffff;
  text-decoration: none;
  box-shadow: inset 0px -3px 4px 0px rgb(255, 204, 204);
}

.links:hover {
  padding: 5px 40px;
  margin: 5px;
  font-size: 1.6em;
  font-weight: 700;
  border-left: 2px solid #3b3b3b;
  border-right: 2px solid #383838;
  color: #3d3d3d;
  text-decoration: none;
  box-shadow: inset 0px 0px 7px 2px rgb(151, 0, 0);
}

.mylinks-mobile {
  display: none;
}

.mobile-menu-bttn {
  display: none;
}

/* Footer */
.footer {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  text-align: center;
  border-top: 5px solid #365c89;
  padding: 10px;
}

.logos{
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  text-align: center;
}

.logo1, .logo2 {
  width: 50px;
  height: 50px;
  margin: 10px 15px;
  transition: all 0.2s ease-in-out;
}

.logo1:hover, .logo2:hover {
  transform: scale(1.25);
}

/* Home Page */
.section-city-bg {
  position: fixed;
  display: flex;
  width: 100vw;
  max-width:100%;
  min-width: 300px;
  top: 60px;
  z-index: -1;
  justify-content: center;
  align-items: center;
  background-color: #494949;
}

.city-bg {
  width: 100vw;
  max-width: 1600px;
  min-width: 300px;
  height: 620px;
  background-image: url(./img/City-Meet-BG-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-width: 1600px;
  width: 100%;
  margin-top: 680px;
  border-top: 5px solid #365c89;
}

.signup {
  width: 180px;
  height: 50px;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  background-color: #d61313;
  border: none;
  border-radius: 4px;
}

.signup:hover {
  color: #d61313;
  background-color: #fff;
}


.section-2, .section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  width: 100%;
  max-width: 1200px;
  margin: 60px 0;
  transition: all 0.4s ease-in-out;
}

.section-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 120px;
}

.pic-1 {
  width: 400px;
  height: 330px;
  background: url('./img/tdd-circle-of-life.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

.pic-2 {
  width: 470px;
  height: 365px;
  background: url('./img/OAuth.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

.title-main {
  color:#d61313;
  margin: 30px 0;
  font-size: 2.2em;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.title-1 {
  color:#d61313;
  margin: 15px 0;
  font-size: 1.7em;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.what-can-you-do-box, .about-box, .privacy-box {
  width: 75%;
  max-width: 460px;
  min-width: 270px;
  text-align: center;
  font-size: 1.2em;
  margin: 30px 0;
}

/*  filter styles */
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 0 50px;
  background-color: #fff;
}

.title-box {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  font-weight: 700;
  font-size: 1em;
}

.CitySearch {
  position: relative;
}

.city {
  width: 250px;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: pointer;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #e9e6cf;
}

.numberOfEvents {
  width: 200px;
}

.numberInput {
  text-align: center;
  width: 40px;
}

input[type="text"], input[type="number"] {
  padding: 8px 5px 8px 5px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

/* Event Page */
.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 60px;
}

ul {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  padding: 0;
  list-style: none;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.Alert {
  text-align: center;
  line-height: 1.2em;
  height: 1.4em;
}

.details-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669f2;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}

.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media all and (max-width: 1200px) {
  .city-bg {
    height: 500px;
  }

  .home-content {
    margin-top: 560px;
  }
}

@media all and (max-width: 1024px) {
  .city-bg {
    height: 440px;
  }

  .home-content {
    margin-top: 500px;
  }

  .section-2, .section-3 {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .pic-1{
    order: 2;
    margin: 30px 0;
  }

  .pic-2{
    margin: 30px 0;
  }

  .title-main {
    margin: 30px 0;
    font-size: 2.1em;
  }
  
  .title-1 {
    margin: 0px 0 20px;
    font-size: 1.4em;
    text-align: center;
  }  
}

@media only screen and (max-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }

  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media all and (max-width: 650px) {
  .city-bg {
    height: 400px;
  }

  .home-content {
    margin-top: 460px;
  }

  .navbar {
    grid-template-columns: 190px 1fr;
    padding: 0 10px;
  }

  .Nav-title {
    font-size: 1.3em;
  }

  .section-4{
    padding-bottom: 80px;
  }

  .links {
    padding: 5px 25px;
    margin: 5px;
    font-size: 1.5em;
    font-weight: 700;
    border-left: 2px solid rgb(255, 204, 204);
    border-right: 2px solid rgb(255, 204, 204);
    color: #ffffff;
    text-decoration: none;
    box-shadow: inset 0px -3px 4px 0px rgb(255, 204, 204);
  }
  
  .links:hover {
    padding: 5px 25px;
    margin: 5px;
    font-size: 1.5em;
    font-weight: 700;
    border-left: 2px solid #3b3b3b;
    border-right: 2px solid #383838;
    color: #3d3d3d;
    text-decoration: none;
    box-shadow: inset 0px 0px 7px 2px rgb(151, 0, 0);
  }
}

@media all and (max-width: 500px) {
  .filters {
    flex-direction: column;
    justify-content: center;
    padding: 0 0 30px;
  }

  .pic-1 {
    width: 300px;
    height: 248px;
  }
  
  .pic-2 {
    width: 300px;
    height: 233px;
  }

  .title-main {
    margin: 30px 0;
    font-size: 1.8em;
  }
  
  .title-1 {
    margin: 0px 0 20px;
    font-size: 1.3em;
    text-align: center;
  }  

  .what-can-you-do-box, .about-box, .privacy-box {
    font-size: 1.1em;
  }

  .navbar {
    padding: 0;
  }

  .mylinks{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #1669f2;
    text-align: right;
  }

  .mobile-menu-bttn {
    display: flex;
    width: 40px;
    height: 40px;
    justify-self: flex-end;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color:#d61313;
    justify-content: center;
    align-items:center;
    flex-direction: column;
  }

  .mobile-menu-bttn:hover {
    background-color:#a80d0d;
  }

  .mobilebar-one {
    display: flex;
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin-top: 0px;
  }
  
  .mobilebar-three, .mobilebar-two {
    display: flex;
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin-top: 4px;
  }
  
  .links {
    padding: 5px 25px;
    margin: 5px;
    font-size: 1.5em;
    font-weight: 700;
    border: none;
    color: #ffffff;
    text-decoration: none;
    box-shadow: none;
  }
  
  .links:hover {
    padding: 5px 25px;
    margin: 5px;
    font-size: 1.5em;
    font-weight: 700;
    border-left: 2px solid #3b3b3b;
    border-right: 2px solid #383838;
    color: #3d3d3d;
    text-decoration: none;
    box-shadow: 0;
  }
}


