@import url(https://fonts.googleapis.com/css?family=Roboto:500);


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1faee;
}

.App { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  text-align: right;
  padding: 0 15px;
  top: 0px;
  width: 100vw;
  height: 70px;
  background-color: #ffd60a;
  z-index: 10;
  border-bottom: 3px solid #000000;
}

.title {
  width: fit-content;
  height: fit-content;
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 900;
  color: #000000;
}

.links {
  padding: 5px 40px;
  margin: 2px;
  font-size: 1.5em;
  font-weight: 700;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.links:hover {
  padding: 5px 40px;
  font-size: 1.5em;
  font-weight: 700;
  border-left: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: #00a5c2;
}

.city-bg-container{
  position: fixed;
  top: 70px;
  z-index: -1;
}

.city-bg {
  width: 100vw;
  max-width: 1920px;
  height: 600px;
  background-size: cover;
  background-image: url(./img/city-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  top: 600px;
}

/*  filter styles */

.filters {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 40px;
}

.eventbox {
  width: 100%;
  max-width: 800px;
}

.CitySearch {
  position: relative;
}

.city {
  width: 250px;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: pointer;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #e9e6cf;
}

.numberOfEvents {
  width: 400px;
  margin: 0;
  text-align: left;
}
/* Event styles */

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}